
@{
    ViewBag.Title = "ForgotPassword";
}

<style>
    h1 {
        text-align: center;
        color: black !important;
    }

    hr.new1 {
        border: 10px solid black;
        border-radius: 5px;
    }
    .card {
        border: 3px solid grey;
    }

    .card-body {
        text-align: center;
    }

    .form-group {
        display: flex !important;
        flex-direction: column !important;
        font-size: 23px;
    }

    .textEmail {
        align-self: flex-start !important;
    }

    .text-success{
        color:orangered !important;
        font-size:20px;
    }
    .custom-orange-button {
        background-color: orange; /* Set your desired shade of orange */
        color: white; /* Set the text color to contrast with the background */
        font-size: 20px; /* Set the font size to your preference */
        font-weight: bold; /* Make the text bold if desired */
        border: none;
    }

        .custom-orange-button:hover {
            background-color: darkorange;
            color: white;
        }
</style>
<br />
<div class="col-sm-5 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {

                <h1>Forgot Password</h1>
                <div class="form-horizontal">
                    <hr />
                    <br />
                    <div class="text-success">
                        @ViewBag.Message
                    </div>
                    <br />
                    <div class="form-group">
                        <span class="textEmail">Email Address:</span>

                        @Html.TextBox("EmailID", "", new { @class = "form--control" })
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                      <input type="submit" value="Submit" class="btn custom-orange-button py-3 px-5" />
                    </div>
                </div>
            }
        </div>

    </div>

</div>
<br />
<br />