
@{
    ViewBag.Title = "ForgotPassword";
}

<h1 style="color:darkblue;">Forgot Password</h1>

<style>
    h1 {
        text-align: center;
    }

   /* body {
        background-image: url('https://media.istockphoto.com/photos/white-wave-abstract-or-rippled-water-texture-background-picture-id1151702202?b=1&k=20&m=1151702202&s=170667a&w=0&h=maMO1KO0wuwNDDiewZUlmIhbHiUYJYS7VFZpny5KuMA=');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }*/

    hr.new1 {
        border: 10px solid blue;
        border-radius: 5px;
    }


    /*.btn-success {
        background-color: lightseagreen;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }*/
</style>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email Address:</label>
            @Html.TextBox("EmailID", "", new { @class = "form--control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>

        </div>
    </div>
}