@model ShoppingCartMVC.Models.tblCategory
<head>
    <title>Add New Category</title>
    <style>
        .card {
            border: 2px solid grey;
        }

        .form-group {
            text-align: center;
        }

        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }
    </style>
</head>

<br />
<h2 class="card-title" style="text-align:center"><u> Add Category </u></h2>
<br />
<h3 style="color:red;">@TempData["msg"]</h3>
<br />
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">

            @using (Html.BeginForm())
            {

                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <span>Name:</span>
                        <div class="text"> @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Add Category" class="btn custom-orange-button  py-3 px-5">
                    </div>
                </form>

            }
        </div>
    </div>
</div>


