@model ShoppingCartMVC.Models.tblCategory
<head>
    <title>Add New Category</title>
    <style>
        .card {
            border: 2px solid green;
        }

        .form-group {
            text-align: center;
        }
    </style>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="card-title" style="text-align:center"><u> Add Category </u></h2>
<br />
<h3 style="color:red;">@TempData["msg"]</h3>
<br />
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">

            @using (Html.BeginForm())
            {

                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <span>Name:</span>
                        <div class="text"> @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add Category" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            }
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
