@model List<System.Linq.IGrouping<int, ShoppingCartMVC.Models.IngredientProduct>>
<head>
    <title>Product Ingredients</title>
</head>
<script src="~/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<div class="container">
    <h2> Ingredients used for Each Product</h2>
    <div class="form-group">
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Ingredients</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.First().TblProduct.P_Name</td>
                    <td>
                        @foreach (var item in group)
                        {
                            <p>@item.TblIngredients.Ing_Name</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<br />
<br />