@model List<IGrouping<int, ShoppingCartMVC.Models.LowStockVM>>

<head>
    <title>Low Stock Ingredients</title>

    <style>
        .supplier-link {
            margin-left: 10px; /* Adjust the margin as needed */
        }
    </style>
</head>

<script src="~/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="container">
    <h2>Low Stock Products</h2>
    <div class="form-group">
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
    </div>

    @foreach (var supplierGroup in Model)
    {
        <div class="d-flex align-items-center">
            <h3>@supplierGroup.First().SupplName</h3>

            <!-- Link to a page that displays all low stock ingredients for this supplier -->
            <a href="@Url.Action("LowStockForSupplier", new { supplierId = supplierGroup.Key })" class="btn btn-success supplier-link">View Low Stock</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Qty Remaining</th>                 
                </tr>
            </thead>
            <tbody>
                @foreach (var ing in supplierGroup)
                {
                    <tr>
                        <td>@ing.Ing_ID</td>
                        <td><img src="~/Uploads/@ing.IngImage" style="width:150px; height:100px;" /></td>
                        <td>@ing.StockQty</td>
                        <td></td> <!-- Leave this empty for ingredients -->
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
