@model ShoppingCartMVC.Models.SupplierIngredients
<head>
    <title>Update Unit Cost</title>
    <style>
        .card {
            border: 2px solid grey;
        }

        .form-group {
            text-align: center;
        }
        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

        
    </style>
</head>
<br />

<h1 class="card-title" style="text-align:center"><u> Update Unit Cost </u></h1>
<div class="col-sm-5 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("UpdateUnitCostPost", "Ingredients", FormMethod.Post))
            {              

                <div class="form-group">
                    <b> @Html.DisplayFor(m => m.TblIngredients.Ing_Name)</b>
                </div>

                <div class="form-group">
                    Current Unit Cost: R @Model.Ing_UnitCost .00
                </div>
                <br />
                <div class="form-group">
                    <p style="text-align:center">New Unit Cost: </p> R @Html.TextBox("Ing_UnitCost", Model.Ing_UnitCost) .00
                </div>


                <br />
                <div class="form-group">
                    <input type="submit" value="Update" class="btn custom-orange-button  py-3 px-5" />
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />
<br />
