@model ShoppingCartMVC.Models.tblProduct
<head>
    <title>Your Cart</title>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">


    @using (Html.BeginForm())
    {


        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" name="id" value="@Model.ProID" />
                <img src="~/Uploads/@Model.Image" style="height:85%;width:85%" />
            </div>

            <div class="col-lg-6">
                <h3>@Model.P_Name</h3>

                <p>@Model.Description</p>
                <p>R <strong>@Model.Unit</strong></p>
                <input type="number" min="1" max="10" name="qty" />
                <input type="submit" value="Add to Cart" class="btn btn-warning" />
            </div>

        </div>

    }
</div>
<br />
<br />
<br />
<br />
<br />
<br />
