@model ShoppingCartMVC.Models.Drivers

<head>
    <title>Driver Delivery Assignment</title>

    <style>
        .card {
            border: 2px solid green;
        }
    </style>
</head>

@using (Html.BeginForm())
{
    <div class="col-lg-5 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center"><u> Assign Driver </u></h4>
                <br />
                <p style="text-align:center;">Order No. : #@TempData["OrderID"]</p>
                <p style="text-align:center">Delivery Address : @TempData["Address"] </p>
                <p style="text-align:center;">Order Date : @TempData["OrderDate"]</p>
                <p style="text-align:center;">Select Driver :  @Html.DropDownListFor(m => m.UserId, @ViewData["UserId"] as IEnumerable<SelectListItem>, "--Choose Driver--") </p>
                <br>
                <p style="text-align:center;"><input type="submit" value="Dispatch Driver" class="btn btn-success" /></p>
                <br />

            </div>
        </div>
    </div>
}
<br />
<br />
