@model List<IGrouping<int?, ShoppingCartMVC.Models.Drivers>>

<head>
    <title>Driver Order Collection</title>
    <style>
        .card {
            border: 2px solid grey;
        }
        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

        input[type="checkbox"] {
            width: 20px; /* Adjust the width to make the checkbox wider */
            height: 20px; /* Adjust the height to make the checkbox taller */
        }
    </style>
</head>
<br />
<br />


@using (Html.BeginForm("DriverGetOrder", "Home", FormMethod.Post))
{

    foreach (var group in Model)
    {
        <div class="col-lg-10 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" style="text-align:center"><u>Order Collection For Delivery</u></h2>
                    <br />
                    <p class="card-description">
                        Customer Orders with Invoice No : <b>#@group.Key </b>
                    </p>
                    <br />

                    @*table for showing order details*@
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order No.</th>
                                    <th>Item</th>     
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            @foreach (var orderInfo in group)
                            {
                                <tbody>

                                    <tr>
                                        <td>
                                            @orderInfo.OrderId
                                        </td>
                                        <td>
                                            @orderInfo.TblOrder.TblProduct.P_Name
                                        </td>
                                        <td>
                                            @orderInfo.TblOrder.Qty
                                        </td>
                                    </tr>

                                </tbody>
                            }
                        </table>
                    </div>

                    <br />
                    <p><input type="checkbox" id="OrderCollected" name="OrderCollected" value="true" required /> Order Collected</p>


                    <br />
                    <input type="submit" value="Directions" class="btn custom-orange-button py-3 px-5" />

                </div>
            </div>
        </div>
    }
}
<br />
<br />
