@model List<IGrouping<int?, ShoppingCartMVC.Models.Drivers>>

<head>
    <title>Driver Order Collection</title>
    <style>
        .card {
            border: 2px solid #0094ff;
        }
    </style>
</head>



@using (Html.BeginForm("DriverGetOrder", "Home", FormMethod.Post))
{

    foreach (var group in Model)
    {
        <div class="col-lg-10 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center"><u>Order Collection For Delivery</u></h4>
                    <br />
                    <p class="card-description">
                        Customer Orders with Invoice No : <b>#@group.Key </b>
                    </p>
                    <br />

                    @*table for showing order details*@
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order No.</th>
                                    <th>Item</th>     
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            @foreach (var orderInfo in group)
                            {
                                <tbody>

                                    <tr>
                                        <td>
                                            @orderInfo.OrderId
                                        </td>
                                        <td>
                                            @orderInfo.TblOrder.TblProduct.P_Name
                                        </td>
                                        <td>
                                            @orderInfo.TblOrder.Qty
                                        </td>
                                    </tr>

                                </tbody>
                            }
                        </table>
                    </div>

                    <br />
                    <p><input type="checkbox" id="OrderCollected" name="OrderCollected" value="true" required /> Order Collected</p>


                    <br />
                    <input type="submit" value="Directions" class="btn btn-info" />

                </div>
            </div>
        </div>
    }
}
<br />
<br />
