<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutusPage</title>
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <style>
        .fcc-btn {
            margin-top: 1rem;
            display: inline-block;
            font-size: 13px;
            color: white;
            background: #ff6a00;
            border-radius: .4rem;
            cursor: pointer;
            padding: .3rem 2rem;
        }


            .fcc-btn:hover {
                background-color: #000000;
                color: white;
            }
    </style>
</head>
<body>

    <section class="header">
        <div class="main">
            <div class="men_text">
                <img src="~/Images/LogoPlain.png" width="230" height="240" />
                <h1>Get Fresh<span>Food</span><br>the Turbo Way</h1>
            </div>
        </div>

        <p>
            Get ready for an authentic experience from our fast-food restaurant providing you with turbo meals right at your doorstep. Dine with us and ORDER NOW!
        </p>

        <div class="main_btn">
            <a href="@Url.Action("Menu","Home")">&nbsp;&nbsp;Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <br />
        <div class="main_btn">
            <a href="#video" onclick="openFullscreen();">&nbsp; Watch Video</a>
        </div>

        <video width="0" controls id="myvideo">
            <source src="~/Images/TurboVideoShort.mp4" type="video/mp4" />
        </video>


    </section>
    <br />

    <script>

        var elem = document.getElementById("myvideo");

        /* Function to open fullscreen mode */
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }


    </script>

</body>
</html>




