@model IEnumerable<ShoppingCartMVC.Models.tblProduct>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo Meals Home</title>
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  
    <style>
        .fcc-btn
        {
        margin-top: 1rem;
        display: inline-block;
        font-size: 13px;
        color: white;
        background: #ff6a00;
        border-radius: .4rem;
        cursor: pointer;
        padding: .3rem 2rem;
        }
        

        .fcc-btn:hover 
        {
            background-color: #000000;
            color:white;
        }
    </style>
</head>
<body>

    <section class="header">
        <div class="main">
            <div class="men_text">
                <img src="~/Images/LogoPlain.png" width="230" height="240" />
                <h1>Get Fresh<span>Food</span><br>the Turbo Way</h1>
            </div>
        </div>

        <p>
            Get ready for an authentic experience from our fast-food restaurant providing you with turbo meals right at your doorstep
        </p>

        <div class="main_btn">
            <a href="#">&nbsp;&nbsp;Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <br />
        <div class="main_btn">
            <a href="#video" onclick="openFullscreen();">&nbsp; Watch Video</a>
        </div>

        <video width="0" controls id="myvideo">
            <source src="~/Images/TurboVideo.mp4" type="video/mp4" />
        </video>


    </section>
    <br />






    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                    <span class="subheading">Featured Meals</span>
                    <h2 class="mb-4">Menu</h2>
                    <p>
                        A fast-food restaurant that provides delectable hot and cold delicacies in a snap without
                        compromising on taste, quality or quantity.
                    </p>
                </div>
            </div>
        </div>

        <script src="~/js/jquery.min.js"></script>

        <script>
            $(document).ready(function () {

                $("#searchBox").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#result .col-md-6").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
            </div>

            <div class="row" id="result">



                @foreach (var item in Model)
                {


                    <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                        <div class="product">
                            <a class="fcc-btn"href="@Url.Action("AddtoCart", "Home", new { id = @item.ProID })">Add to cart
                                <img class="img-fluid" src="~/Uploads/@item.Image" style="height:250px" alt="">

                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">

                                <h3><a href="#">@item.P_Name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">@*<span class="mr-2 price-dc">Rs.00</span>*@<span class="price-sale">R @item.Unit</span></p>
                                    </div>
                                </div>
                                @*<div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
    </section>


    <script>

        var elem = document.getElementById("myvideo");

        /* Function to open fullscreen mode */
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }


    </script>

</body>
</html>
