@model IEnumerable<ShoppingCartMVC.Models.tblOrder>

<head>
    <title>All New Orders Placed</title>
</head>

<h2>PrepStaff</h2>

<table class="table">
    <tr>
        <th>
            Order Num
        </th>
        <th>
            Order Date
        </th>
        <th>
            Order Detail
        </th>
        <th>
            Order Ready
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(m => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a href="@Url.Action("PrepOrder", "Home", new { OrderId = item.OrderId })" class="btn btn-primary">Order Details</a>
            </td>
            <td>
                @if (item.OrderReady == "Being Prepared")
                {
                    <span class="btn btn-warning">Being Prepared</span>
                }

            </td>

        </tr>
    }

</table>

