<!DOCTYPE html>



<html>
<head>



    <title>Page Title</title>
    <style>

        .button {
            background-color: rgb(0 148 255);
            color: white;
            position: absolute;
            left: 580px;
            border-radius: 23px;
            top: 85px;
            width: 345px;
            cursor: pointer;
            padding: .6rem 1rem;
            transition: all 0.2s ease-in-out;
        }



            .button:hover {
                transform: translate(7px);
                color: white;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
    </style>
</head>
<body>
    <iframe width="1500" height="1300" src="https://forms.office.com/pages/responsepage.aspx?id=0TAZS_QStUC0jL2GEXQp2EvTOSl9_S9Kiw-ST5MqhkxURFdQUUtPTDE3WDVRQTY4MzBIS1pSVDlDVy4u" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    <a href="https://forms.office.com/Pages/AnalysisPage.aspx?AnalyzerToken=THciPBregYIiO3PIQxqSukJVpaDtBBtr&id=0TAZS_QStUC0jL2GEXQp2EvTOSl9_S9Kiw-ST5MqhkxURFdQUUtPTDE3WDVRQTY4MzBIS1pSVDlDVy4u" class="button">Click here to view customer responses</a>
</body>
</html>