<head>
    <title>Order Complete</title>
</head>

<h1> Order Placed Successfully! </h1>

<p>Please view your Orders History to view your Invoice and track Order Status.</p>
<br />
<p>Kindly note you will be notified when your Order is ready.</p>
<p>Thank You for choosing Turbo Meals</p>

@Html.ActionLink("Return to Home", "Index", "Home")
