
@{
    ViewBag.Title = "ThankYou";
}
<head>
    <title>Successful Contact Made</title>
</head>
<h1>Message Sent ....Thank You For Contacting Turbo Meals!</h1>

@Html.ActionLink("Return to Home", "HomePage", "Home")

