@model IEnumerable<ShoppingCartMVC.Models.tblAdminOrder>
<head>
    <title>
        Supplier Received Orders
    </title>
</head>
<br />
<h2> Supplier Received Orders</h2>
<div class="container">


    <table class="table">

        <tr>
            <th>
                Invoice No #
            </th>
            <th>
                Supplier Name
            </th>

            <th>
                Order Date
            </th>
           
            <th>
                Invoice
            </th>

        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.InvoiceId
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TblSupplier.SupplName)
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                   
                    <td>
                        <a href="@Url.Action("AdminInvoice", "AdminHome", new { InvID = item.InvoiceId })" class="btn btn-primary">View</a>
                    </td>

                   

                </tr>
            }
        </tbody>
    </table>

</div>

<br />
<br />